
.topnav {
    color: #333;
    font-family: 'Helvetica', sans-serif;
    padding: 15px; 
    align-items: center;
    font-size: 18px;
    border-bottom: .5px solid #ccc;
}
.topnav a:hover {
    color: red;
    text-decoration: none;
}
.topnav a.active {
    font-weight: bold; /* Make the active link bold */
}

a:link {
    color:#333;
    background-color: transparent;
    text-decoration: none;
  }

.nav-topright {
    display: flex; 
    margin-left: auto; 
    float: right
}
.nav-topright ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}
.nav-topright a {
    text-decoration: none;
    color: #333; 
    padding: 15px; 
    font-family: 'Helvetica', sans-serif;
}
.nav-topright a:hover {
    color: red;
}

body {
    background-color: #FAF8F5;  
    font-family: 'Helvetica', sans-serif;
}

.WelcomeText {
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    padding: 15px; 
}

h2 {
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
}